{% extends "base.html.jinja"%}
{% block title %}
登入頁面
{% endblock%}

{% block main%}
<h1>登入</h1>
<form method="POST">
{{ form.csrf_token }}
    <div class="mb-3">
        {{ form.email.label(class="form-label") }} {{form.email(class="form-control",size=30,minlength=4,maxlength=30)}}
    </div>
    <div class="mb-3">
        {{ form.password.label(class='form-label')}} {{ form.password(class='form-control')}}
    </div>
<input type="submit" value="確定" class="btn btn-primary">

</form>
{% endblock%}