{% extends "base.html.jinja"%}
{% block title %}
登入頁面
{% endblock%}

{% block main%}
<h1>登入</h1>
<form method="POST">
<div>
帳號email
</div>
<div>
密碼password
</div>
<input type="submit" value="確定">

</form>
{% endblock%}