{% extends 'base.html.jinja' %}

{% block title%} 
{{ super() }} - 首頁
{% endblock %}

{% block head%}
{{ super() }}
<style type"text/css">
body {
    background-color: blue;
}
</style>
{% endblock %}


{% block left_content%}
{{ left | striptags | title  }}
{% endblock%}

{% block right_content%}
{{ ['list', 'of', 'objects'] | join('|') }}
{% endblock%}