{% extends 'base.html.jinja' %}

{% block title%}
{{ super() }} - 首頁
{% endblock %}

{% block head%}
{{ super() }}
<style type"text/css">
    body {
        background-color: blue;
    }
</style>
{% endblock %}


{% block main%}
<div class="container text-center">
    <div class="row">
        <div class="col-4" style="background-color:beige">
        <form action="{{url_for('index')}}" method="get">
            <select class="form-select" aria-label="Default select example" name="area">
                <option selected>請選擇行政區:</option>
                {% for area in areas %}                
                    <option value="{{area}}">{{area}}</option>          
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">送出</button>
        </form>
        </div>
        <div class="col-8" style="background-color:bisque">
            {{show_area}}
        </div>
    </div>
    </main>
    {% endblock %}