<!doctype html>
<html lang="zh-tw">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static',filename='style/bootstrap.min.css')}}" rel="stylesheet">
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <title>Bootstrap demo</title>
  </head>
  <body>
    <div class="container-md" style="background-color: blueviolet;">
      Voluptate labore incididunt sit deserunt culpa. Qui cupidatat labore ullamco ea exercitation excepteur quis irure reprehenderit adipisicing nostrud eiusmod ut minim. Cillum excepteur magna enim culpa sunt nostrud incididunt aliqua sunt. Nulla magna adipisicing elit tempor. Tempor esse laborum eu sit commodo sint. Officia amet laborum sunt magna enim veniam tempor magna laboris ut. Commodo irure incididunt consequat est tempor elit aute culpa esse fugiat consectetur adipisicing.

Adipisicing nisi ad eiusmod culpa culpa est est dolor duis commodo aliquip est nisi. Officia aliqua consectetur id minim ullamco laborum et ut. Minim duis nulla aute et esse. Reprehenderit exercitation cillum do consectetur aliquip anim. Ex ipsum aute non minim non labore dolore aliquip reprehenderit quis cillum consectetur. Irure velit dolore quis nisi est incididunt laboris non nulla sint est. Proident ea ut laboris nulla sint.

Lorem et cupidatat irure velit officia. Aute deserunt cillum culpa id elit nostrud id anim. Cupidatat cillum aliqua duis laboris est velit aliquip anim. Cillum consequat enim ea culpa anim tempor ad occaecat excepteur sint minim adipisicing nulla non. Fugiat fugiat Lorem mollit nisi.
    </div>
  </body>
</html>