<!doctype html>
<html lang="zh-tw">

<head>
  {% block head%}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{url_for('static',filename='style/bootstrap.min.css')}}" rel="stylesheet">
  <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <title>{% block title%}職能發展學院{% endblock%}</title>
  {% endblock %}
</head>

<body>
  <div class="container-md">
    <nav class="navbar navbar-expand-md bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}">職能發展學院</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <img src="{{url_for('static',filename='images/menu.png')}}" alt="Toggle navigation"
            style="width: 30px; height: 30px;">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">最新課表</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./dashboard/app2">台北市Youbike</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="./dashboard/app1">跟我聯絡</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/auth/login">登入</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
    <main>
    {% block main%}
    {% endblock %}
    </main>    
  </div>
</body>

</html>